
body {
	padding-top: 60px;
	background-color: #fcf4e9 !important;
	padding-bottom: 50px;
}


h3{
	font-family: "Lucida Console" !important;
}

small{
	color: white !important;
}

.force-to-bottom {
  position:absolute;
  bottom: 5%;

}

.navbar-brand {
	color: #8FBC8F !important;
}

p.text-justify{
 max-width:600px;
 text-align: center;
}

.col-md-4 {
	text-align: center !important;
}

.container-fluid {
	text-align: center !important;
}

#footer {
  background-color: #f5f5f5;
}

.panel-body {
	background-color: #f5f5f5;
}
/* Sticky footer styles
-------------------------------------------------- */
