
body { 
	padding-top: 60px;
}

h1{
	color: white !important;
}

small{
	color: white !important;
}

.navbar-brand {
	color: lightblue !important;
}

.navbar-default {
 	  color: white !important;
      background-color:transparent !important;
      border-color:transparent !important;
      background-image:none !important;
      box-shadow:none !important;  
      text-align: center !important;
      vertical-align: top !important;
}

.navbar-header {
	text-align: center !important;
}

.navbar-collapse {
	text-align: center !important;
}

.col-md-4 {
	text-align: center !important;
}

.container-fluid {
	text-align: center !important;
}
/* Sticky footer styles
-------------------------------------------------- */

