.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
body { padding-top: 70px; }

}
/* Sticky footer styles
-------------------------------------------------- */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}